@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    /* Cores da página */
    --color-primario: #fefaf1; /* Fundo da página */
    --color-secundario: #1f2947; /* Botões e texto do usuário */
    --color-terciario: #fefaf1; /* Espaço encriptador */
    /* Fonte da página */
    --fuente-principal: "Inter", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Garantir que margens e preenchimentos não causem estouro */
}

html, body {
    height: 100%;
    overflow-x: hidden; /* Evitar scroll horizontal */
}

body {
    background-color: var(--color-primario);
    font-family: var(--fuente-principal);
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    margin: 2% 2% 2% 10%; 
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header__menu__logo {
    padding: 0% 2% 0% 2%;
}

.header__menu__texto {
    margin: 1% 2% 0% 2%;
    text-decoration: none;
    color: var(--color-secundario);
    font-size: 2rem;
    font-weight: 600;
}

.container {
    flex: 1; /* Permitir que o container cresça para ocupar o espaço disponível */
    margin: 0% 5% 4% 5%;
    padding: 2%;
}

.container__contenido {
    display: flex;
    justify-content: space-evenly;
}

.container__section__inputUser {
    width: 40%;
    display: flex;
    flex-direction: column;
    border-radius: 24px;
}

.container__section__inputUser_pegar {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
}

.__textarea_pegar_button {
    margin: 0% 0% 0% 80%;
    justify-content: center !important;
    font-weight: 400;
    font-size: 0.9rem;
    padding: 2% 0;
    display: flex;
    flex-direction: row;
    gap: 5px;
    background-color: var(--color-primario);
    border-radius: 24px;
    border: 2px solid var(--color-secundario);
    color: var(--color-secundario);
}

.__textarea_pegar_button:hover {
    background-color: var(--color-secundario);
    color: var(--color-terciario);
    font-weight: 600;
}

.__textarea_pegar_button:disabled {
    background-color: var(--color-primario);
    border: 2px solid var(--color-secundario);
    color: var(--color-secundario);
    font-weight: 500;
}

.container__section__texto__input {
    font-size: 2rem;
    background-color: var(--color-primario);
    border: solid var(--color-primario);
    color: var(--color-secundario);
    font-weight: 400;
    height: 450px;
    width: 100%;
    border-radius: 24px;
    padding: 25px;
    overflow: auto;
    resize: none;
    box-shadow: 0px 12px 20px -8px var(--color-secundario);
}

.container__texto_informativo {
    font-size: 0.75rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5% 2% 2% 2%;
}

.container__section__inputUser__botones {
    display: flex;
    padding: 3% 0;
    align-items: center;
    gap: 24px;
}

.container__section__boton {
    width: 200px;
    padding: 15px;
    border-radius: 24px;
    border: 2px solid var(--color-secundario) !important;
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--color-primario);
    color: var(--color-secundario);
}

.container__section__boton:hover {
    background-color: var(--color-secundario);
    color: var(--color-terciario);
    font-weight: 600;
}

.container__section__boton:disabled {
    background-color: var(--color-primario);
    border: 2px solid var(--color-secundario);
    color: var(--color-secundario);
    font-weight: 500;
}

.container__contenido__texto_Encriptado {
    border-radius: 24px;
    background-color: var(--color-terciario);
    width: 400px;
    height: 100%;
    color: var(--color-secundario);
}

.container__contenido__texto_Encriptado__section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10% 10% 2% 10%;
    align-items: center;
    box-shadow: 0px 12px 32px -8px var(--color-secundario);
    border-radius: 24px;
}

.container__section__texto_encriptado__texto {
    text-align: justify;
    padding: 10px;
    margin: 0% 0% 20% 0%;
    color: var(--color-secundario);
    font-size: 1rem;
    font-weight: 400;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    overflow: hidden;
    max-width: 100%;
}

.container__section__texto_encriptado__img_vacio {
    width: 200px;
    height: 200px;
    margin: 20px 10px 10px 10px;
    padding: 10px;
    border-radius: 300px;
}

.container__section__texto_encriptado__subtitulo {
    padding: 10px;
    text-align: center;
    color: var(--color-secundario);
    font-size: 1.5rem;
    font-weight: 700;
}

.container__section__texto_encriptado__cont_boton {
    margin: 40px 5px 5px 5px;
    padding: 20px;
}

.container__section__texto_encriptado__boton {
    width: 328px;
    border-radius: 24px;
    background-color: var(--color-secundario);
    color: var(--color-terciario);
    padding: 15px;
    font-size: 1rem;
    font-weight: 400;
}

.footer {
    height: 4rem; /* Ajuste da altura do footer */
    background-color: var(--color-secundario);
    color: var(--color-terciario);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.footer__contenedor {
    display: flex;
    align-items: center;
    gap: 1rem; /* Ajuste do espaçamento entre elementos do footer */
}

.footer__contenedor__texto {
    font-size: 1rem;
    text-align: center;
}

.footer__contenedor__logo {
    width: 35px; /* Ajuste do tamanho do logo */
    height: 35px; /* Ajuste do tamanho do logo */
    background-color: rgba(31, 41, 71, 0.9);
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: all .4s ease-in-out;
}

.footer__contenedor__logo:hover {
    transform: scale(1.3);
    background-color: var(--color-primario);
    box-shadow: 0 0 5px var(--color-primario),
                0 0 15px var(--color-primario),
                0 0 25px var(--color-primario),
                0 0 35px var(--color-primario);
}

@media (max-width: 1200px) {
    .header {
        margin: 2% 2% 2% 4%;
    }

    .header__menu__texto {
        font-size: 1.5rem;
        margin: 0% 2% 0% 4%;
    }

    .container__contenido {
        flex-direction: column;
        padding: 2%;
    }

    .container__section__inputUser {
        width: auto;
    }

    .container__contenido__texto_Encriptado {
        width: auto;
        margin-top: 20px;
    }

    .container__contenido__texto_Encriptado__section {
        padding: 5%;
    }

    .container__section__texto_encriptado__subtitulo {
        font-size: 1.25rem;
    }
}
